<h1>Homepages.html.erb</h1>
  
<section>
  <h2>spotlight section for the top media overall</h2>
  <%= render partial: "list_works", locals: { works: @works} %>
</section>

<section>
  <h2>Books</h2>
   <%= render partial: "list_works", locals: { works: @books} %>
</section>

<section>
  <h2>Albums</h2>
  <%= render partial: "list_works", locals: { works: @albums} %>
</section>

<section>
  <h2>Movies</h2>
   <%= render partial: "list_works", locals: { works: @movies} %>
</section>