

 <h3 class="works-votes__header"> 
  <%= @work.votes.count %> vote(s)
 </h3>
  
<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  <% if @work.votes.count >= 1 %>
    <% @work.votes.each do |vote| %>
      <tr>
        <td><%= User.find_by(id: vote.user_id ).username %></td>
        <td><%= readable_date(vote.created_at) %></td>  
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>