<h2>List of Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
  
      <% @users.each do |user|%>
        <tr>
          <td><%= user.username %></td>
          <td>(Votes)<%#= user.votes %></td>
          <td><%= user.created_at.to_date %></td>
        </tr>
      <% end %>
    
  </tbody>
</table>
<div class="btn btn-secondary"><%= link_to "Back to Media List", root_path%></div>
