<h1>Show.html.erb</h1>
<ul>
<% if session[:user_id] %>
<li> currently logged in as <%= @current_user %> </li>
<% else %>
<li> not currently logged in </li>
<% end %>

<%= link_to "Back to Media List", root_path %>
